
.logo {
  height: 70 !important;
}
.brand{
height: 90px !important;
width: 100% !important;
padding:10px;
}

.btn-classic{
  color: #fff !important;
    background-color: #483248 !important;
    border-color: #483248 !important;
}

.btn-classic:active{
  color: #fff !important;
}
.btn-classic:hover{
color: #fff !important;
}

.btn-classical{
  color: #fff !important;
    background-color: #483248 !important;
    border-color: #483248 !important;
    width: 14vw;
    height: 8vh;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-classical:active{
  color: #fff !important;
}
.btn-classical:hover{
color: #fff !important;
}

.mytable{
  border: 2px solid gray !important;
  width: 70vw !important;
  height: 60vh !important;
  padding: 0px !important;
}

.mytableHeader{
  height: 10%;
  background-color:rgba(217, 217, 217, 1);
}

.stub{
  width:1vh;
}

.myrows{
  margin-top: 0px !important;
  height: 2vh !important;
  background-color: white;
  padding: auto;
  border: 2px solid gray !important;
}

.myheadings{
  height: 3vh !important;
  width: 6vw !important;

}

.mytableBody{
background-color: white;

}

.mycells{


}


.bg{
  height:100% !important;
  width: 100% !important;
 background-position:center !important;
background-size:cover !important;
background-repeat:no-repeat !important;
opacity: 0.9 !important;
}

.bg-classic{
  background-color: #483248 !important;
  color: #fff !important;
}
.form-control:focus{
box-shadow: none !important;
}

input.myInput{
  border:none !important;
  border-bottom: 1px solid rgba(50,50,50,0.5) !important;
  padding: 5px 10px !important;
  outline: none !important;
  border-radius: 2px !important;
}

.myInput:focus {
  outline: none !important;
  border:none !important;
  border-bottom: 2px solid rgba(10,10,10,0.5) !important;
  padding: 5px 10px !important;
  outline: none !important;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,0) !important;
  border-radius: 3px !important;
  transition-timing-function: ease-in-out !important;
}


input.myInputSearch{
  border:none !important;
  border-bottom: 1px solid rgba(50,50,50,0.5) !important;
  padding: 5px 10px !important;
  outline: none !important;
  border-radius: 2px !important;
  background-color: unset !important;
}

.myInputSearch:focus {
  outline: none !important;
  border:none !important;
  border-bottom: 2px solid rgba(10,10,10,0.5) !important;
  padding: 5px 10px !important;
  outline: none !important;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,0) !important;
  border-radius: 3px !important;
  transition-timing-function: ease-in-out !important;
    background-color: unset !important;

}

.profile-badge{
  margin-bottom: 5rem;
}

.greeting {
  margin: 0px !important;
}

.profile-pic{
  width: 5rem;
  height: 5rem;
  border-radius: 3.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead,
th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

th {
}

td {
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.prettier{
  font-family: roboto;
}

.spacer{
  justify-content: center;
  padding:10px;
}